<ng-container style="width:100%; margin:auto">
  <mat-card-title style="width:30%; margin:auto">Weather Forecast in Charlotte, NC</mat-card-title>
  <mat-card style="width:50%; margin:auto" *ngFor="let period of weatherData?.properties?.periods">
    <mat-card-content style="text-align:center">{{period.name}}: {{period.detailedForecast}}</mat-card-content>
    <mat-card-content style="text-align:center">
      {{period.temperature}} {{period.temperatureUnit}}°
    </mat-card-content>
    <div style="text-align:center">
      <img mat-card-sm-image src="{{period.icon}}">
    </div>
  </mat-card>
</ng-container>